*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
}
.loaddis{
  display: flex;
  gap: 300px;
  background: lightgreen;
}
.loaddis img{
  width: 300px;
  

}

.navbar{
  display: flex;
  gap: 50px;
  
}
